<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.production.ProductionMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.Production" >
  </resultMap>
  
  <select id="getProduction" resultMap="BaseResultMap" parameterType="Map" >
    select * from production ORDER BY createDate desc limit #{page},#{pageSize}
  </select>
  
    <select id="getTotal" resultType="int">
  select count(*) from production  
  </select>
  
  
   <select id="getProductionByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *  from production where proId=#{proId}
  </select>
  
  <delete id="deleteProduction" parameterType="int">
 DELETE  from  production where proId=#{proId}
  </delete>
  
   <insert id="insertProduction" parameterType="com.cs.pojo.Production"  >
  <!--  <selectKey resultType="java.lang.Short" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS proid
	</selectKey> -->
    insert into production
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        proId,
      </if>
      <if test="proname != null" >
        proName,
      </if>
      <if test="award != null" >
        award,
      </if>
      <if test="membersname != null" >
        membersName,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        #{proid},
      </if>
      <if test="proname != null" >
        #{proname},
      </if>
      <if test="award != null" >
        #{award},
      </if>
      <if test="membersname != null" >
        #{membersname},
      </if>
      <if test="pic != null" >
        #{pic},
      </if>
      <if test="introduction != null" >
        #{introduction},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryId" parameterType="com.cs.pojo.Production" >
    update production
    <set >
      <if test="proname != null and proname!=''" >
        proName = #{proname},
      </if>
      <if test="award != null and award!=''" >
        award = #{award},
      </if>
      <if test="membersname != null and membersname!='' " >
        membersName = #{membersname},
      </if>
      <if test="pic != null and pic!=''" >
        pic = #{pic},
      </if>
      <if test="introduction != null and introduction!='' " >
        introduction = #{introduction},
      </if>
      <if test="createDate != null" >
        createDate= #{createDate},
      </if>
    </set>
    where proId = #{proid}
  </update>
  
</mapper>