<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.teacher.TeacherMapper">

  <resultMap id="BaseResultMap" type="com.cs.pojo.Teacher">
    <id column="teacherNo" jdbcType="INTEGER" property="teacherNo" />
    <result column="teacherName" jdbcType="VARCHAR" property="teacherName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birth" jdbcType="DATE" property="birth" />   
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="lab" jdbcType="INTEGER" property="lab" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="examiner" jdbcType="INTEGER" property="examiner" />
    <association property="department" column="departmentId" 
     select="com.cs.dao.department.DepartmentMapper.selectByDepartId">  
       
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    teacherNo, teacherName, gender, birth, departmentId, subject, phone, title, post, 
    email, type, direction, education, lab, password, examiner
  </sql>
  <select id="selectByTeacherNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from teacher
    where teacherNo = #{teacherNo,jdbcType=INTEGER}
  </select>
  
  <update id="updateByTeacherNo" parameterType="com.cs.pojo.Teacher">
    update teacher
    <set>
      <if test="teacherName != null">
        teacherName = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
       gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
         birth = #{birth,jdbcType=DATE},
      </if>
      <if test="department.departmentId != null">
        departmentId = #{department.departmentId,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
         subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
         phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
         title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
         email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
         direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
         education = #{education,jdbcType=VARCHAR},
      </if>
       <if test="lab != null">
         lab = #{lab,jdbcType=INTEGER},
      </if>
       <if test="password != null">
         password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="examiner != null">
         examiner = #{examiner,jdbcType=INTEGER},
      </if>
    </set>
    where teacherNo = #{teacherNo,jdbcType=INTEGER}
  </update>
  
</mapper>
