<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.group.GroupsMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.Groups" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupsNo" property="groupsno" jdbcType="INTEGER" />
    <result column="comId" property="comid" jdbcType="INTEGER" />
    <result column="groupsName" property="groupsname" jdbcType="VARCHAR" />
    <result column="teacherNo" property="teacherno" jdbcType="INTEGER" />
    <result column="studentNo" property="studentno" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="captainStatus" property="captainstatus" jdbcType="INTEGER" />
    <result column="isCaptain" property="iscaptain" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,groupsNo, comId, groupsName, teacherNo, studentNo, status,captainStatus,isCaptain
  </sql>
  
  <!-- 查找学生所报名的竞赛 -->
  <select id="selectByStuNo" resultType="java.util.HashMap" parameterType="java.lang.Integer" >
    select g.studentNo,g.comId,g.groupsNo,g.groupsName,g.status,g.captainStatus,t.teacherName,c.comName
    from groups g
    INNER JOIN competition c
    on g.comId=c.comId
    INNER JOIN teacher t
    on t.teacherNo=g.teacherNo
    where studentNo = #{studentno,jdbcType=INTEGER}
  </select>
  
  <!-- 根据comId查找该竞赛参与的组别 -->
  <select id="selectByComId" resultType="com.cs.pojo.Groups" parameterType="java.lang.Integer" >
    select *
    from groups
    where comId = #{comId,jdbcType=INTEGER} GROUP BY groupsNo
  </select>
  
  <!-- 根据groupNo查找该组成员 -->
  <select id="selectByGroupsNo" resultType="com.cs.pojo.Student" parameterType="java.lang.Integer" >
    select s.*
	from groups g
	left JOIN student s
	on g.studentNo =s.studentNo
	where g.groupsNo=#{groupsNo,jdbcType=INTEGER}
  </select>
  <!-- 查找最大的groupsNo -->
  <select id="selectMaxGroupsNo"  resultType="java.lang.Integer">
    select MAX(groupsNo)
    from groups
  </select>
  <!-- 修改教师审批状态 -->
  <update id="updateStatus" parameterType="com.cs.pojo.Groups" >
    update groups
    set status = #{status,jdbcType=INTEGER}
    where groupsNo = #{groupsno,jdbcType=INTEGER}
  </update>
  
  <!-- 队长修改状态 -->
  <update id="updateCaptainStatus" parameterType="com.cs.pojo.Groups" >
    update groups
    set captainStatus = #{captainstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from groups
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByGroupsNo" parameterType="java.lang.Integer" >
    delete from groups
    where groupsNo = #{groupsno,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByid" parameterType="java.lang.Integer" >
    delete from groups
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 插入 -->
  <insert id="insert" useGeneratedKeys="true" parameterType="com.cs.pojo.Groups" >
    insert into groups (groupsNo, comId, groupsName, 
      teacherNo, studentNo, status,captainStatus,isCaptain
      )
    values (#{groupsno,jdbcType=INTEGER}, #{comid,jdbcType=INTEGER}, #{groupsname,jdbcType=VARCHAR}, 
      #{teacherno,jdbcType=INTEGER}, #{studentno,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{captainstatus,jdbcType=INTEGER}
      , #{iscaptain,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" parameterType="com.cs.pojo.Groups" >
    insert into groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupsno != null" >
        groupsNo,
      </if>
      <if test="comid != null" >
        comId,
      </if>
      <if test="groupsname != null" >
        groupsName,
      </if>
      <if test="teacherno != null" >
        teacherNo,
      </if>
      <if test="studentno != null" >
        studentNo,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="captainstatus != null" >
        captainStatus,
      </if>
      <if test="iscaptain != null" >
        isCaptain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupsno != null" >
        #{groupsno,jdbcType=INTEGER},
      </if>
      <if test="comid != null" >
        #{comid,jdbcType=INTEGER},
      </if>
      <if test="groupsname != null" >
        #{groupsname,jdbcType=VARCHAR},
      </if>
      <if test="teacherno != null" >
        #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        #{studentno,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="captainstatus != null" >
        #{captainstatus,jdbcType=INTEGER},
      </if>
       <if test="iscaptain != null" >
        #{iscaptain,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.Groups" >
    update groups
    <set >
      <if test="comid != null" >
        comId = #{comid,jdbcType=INTEGER},
      </if>
      <if test="groupsname != null" >
        groupsName = #{groupsname,jdbcType=VARCHAR},
      </if>
      <if test="teacherno != null" >
        teacherNo = #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        studentNo = #{studentno,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="captainstatus != null" >
        captainStatus = #{captainstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.Groups" >
    update groups
    set comId = #{comid,jdbcType=INTEGER},
      groupsName = #{groupsname,jdbcType=VARCHAR},
      teacherNo = #{teacherno,jdbcType=INTEGER},
      studentNo = #{studentno,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      captainStatus = #{captainstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>