<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.admin.AdministerMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.Administer" >
  </resultMap>
  
   <select id="selectByID" resultMap="BaseResultMap" parameterType="String" >
    select * from administer
    where adminNo = #{adminno}
  </select>
   <select id="getDepartment" resultType="String" parameterType="String" >
    select a.department from administer a
    where adminNo = #{adminno}
  </select>
  
</mapper>