<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.admin.AdministerMapper">

  <resultMap id="BaseResultMap" type="com.cs.pojo.Administer">
    <id column="adminNo" jdbcType="VARCHAR" property="adminNo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="adminName" jdbcType="VARCHAR" property="adminName" />
    <result column="departmentId" jdbcType="INTEGER" property="departmentId" />
 
  </resultMap>
  
  
  <sql id="Base_Column_List">
    adminNo, password, adminName, departmentId
  </sql>
  
  
  <select id="selectByID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from administer
    where adminNo = #{adminNo,jdbcType=VARCHAR}
  </select>

  
  <!--删除  -->
  <delete id="deleteByID" parameterType="java.lang.String">
    delete from administer
    where adminNo = #{adminNo,jdbcType=VARCHAR}
  </delete>
  
  
 <!--  <insert id="insertSelective" parameterType="lcw.model.Administer">
    insert into administer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminno != null">
        adminNo,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="adminname != null">
        adminName,
      </if>
      <if test="departmentid != null">
        departmentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminno != null">
        #{adminno,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        #{departmentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
   -->
  
</mapper>