<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.level.LevelMapper" >
  <resultMap id="BaseResultMap" type="com.cs.dao.level.LevelMapper" >
    <id column="levelId" property="levelid" jdbcType="INTEGER" />
    <result column="levelName" property="levelname" jdbcType="VARCHAR" />
    <result column="prizeName" property="prizename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    levelId, levelName, prizeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from level
    where levelId = #{levelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from level
    where levelId = #{levelid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="andy.model.Level" >
    insert into level (levelId, levelName, prizeName
      )
    values (#{levelid,jdbcType=INTEGER}, #{levelname,jdbcType=VARCHAR}, #{prizename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="andy.model.Level" >
    insert into level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="levelid != null" >
        levelId,
      </if>
      <if test="levelname != null" >
        levelName,
      </if>
      <if test="prizename != null" >
        prizeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="levelid != null" >
        #{levelid,jdbcType=INTEGER},
      </if>
      <if test="levelname != null" >
        #{levelname,jdbcType=VARCHAR},
      </if>
      <if test="prizename != null" >
        #{prizename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.Level" >
    update level
    <set >
      <if test="levelname != null" >
        levelName = #{levelname,jdbcType=VARCHAR},
      </if>
      <if test="prizename != null" >
        prizeName = #{prizename,jdbcType=VARCHAR},
      </if>
    </set>
    where levelId = #{levelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.Level" >
    update level
    set levelName = #{levelname,jdbcType=VARCHAR},
      prizeName = #{prizename,jdbcType=VARCHAR}
    where levelId = #{levelid,jdbcType=INTEGER}
  </update>
</mapper>