<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.standard.StandardMapper" >
  <resultMap id="BaseResultMap" type="com.cs.dao.standard.StandardMapper" >
    <id column="standardId" property="standardid" jdbcType="INTEGER" />
    <result column="levelId" property="levelid" jdbcType="INTEGER" />
    <result column="student" property="student" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    standardId, levelId, student, teacher
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from standard
    where standardId = #{standardid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from standard
    where standardId = #{standardid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="andy.model.Standard" >
    insert into standard (standardId, levelId, student, 
      teacher)
    values (#{standardid,jdbcType=INTEGER}, #{levelid,jdbcType=INTEGER}, #{student,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="andy.model.Standard" >
    insert into standard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="standardid != null" >
        standardId,
      </if>
      <if test="levelid != null" >
        levelId,
      </if>
      <if test="student != null" >
        student,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="standardid != null" >
        #{standardid,jdbcType=INTEGER},
      </if>
      <if test="levelid != null" >
        #{levelid,jdbcType=INTEGER},
      </if>
      <if test="student != null" >
        #{student,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.Standard" >
    update standard
    <set >
      <if test="levelid != null" >
        levelId = #{levelid,jdbcType=INTEGER},
      </if>
      <if test="student != null" >
        student = #{student,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
    </set>
    where standardId = #{standardid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.Standard" >
    update standard
    set levelId = #{levelid,jdbcType=INTEGER},
      student = #{student,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR}
    where standardId = #{standardid,jdbcType=INTEGER}
  </update>
</mapper>