<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.article.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.Article" >
  </resultMap>


  <select id="findByType" resultMap="BaseResultMap" parameterType="int" >
    select  *  from article
    where articleType = #{type}
  </select>
  <select id="findByType" resultMap="Map" parameterType="int" >
    select  a.*,ad.adminName,ad.department  from article a,administer ad
    where articleType = #{type}
  </select>
</mapper>