<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.fileUpload.FileUploadMapper">
  <resultMap id="BaseResultMap" type="com.cs.pojo.FileUpload">
    <id column="fileId" jdbcType="INTEGER" property="fileId" />
    <result column="fileName" jdbcType="INTEGER" property="fileName" />
    <result column="saveName" jdbcType="VARCHAR" property="saveName" />
    <result column="uploadDate" jdbcType="DATE" property="uploadDate" />
    <result column="uploadUser" jdbcType="VARCHAR" property="uploadUser" />
  </resultMap>
  <sql id="Base_Column_List">
    fileId, fileName, saveName, uploadDate, uploadUser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fileupload
    where fileId = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fileupload
    where fileId = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cs.pojo.FileUpload">
    insert into fileupload (fileId, fileName, saveName, 
      uploadDate, uploadUser)
    values (#{fileId,jdbcType=INTEGER}, #{fileName,jdbcType=INTEGER}, #{saveName,jdbcType=VARCHAR}, 
      #{uploadDate,jdbcType=DATE}, #{uploadUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.FileUpload">
    insert into fileupload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        fileId,
      </if>
      <if test="fileName != null">
        fileName,
      </if>
      <if test="saveName != null">
        saveName,
      </if>
      <if test="uploadDate != null">
        uploadDate,
      </if>
      <if test="uploadUser != null">
        uploadUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=INTEGER},
      </if>
      <if test="saveName != null">
        #{saveName,jdbcType=VARCHAR},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=DATE},
      </if>
      <if test="uploadUser != null">
        #{uploadUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.FileUpload">
    update fileupload
    <set>
      <if test="fileName != null">
        fileName = #{fileName,jdbcType=INTEGER},
      </if>
      <if test="saveName != null">
        saveName = #{saveName,jdbcType=VARCHAR},
      </if>
      <if test="uploadDate != null">
        uploadDate = #{uploadDate,jdbcType=DATE},
      </if>
      <if test="uploadUser != null">
        uploadUser = #{uploadUser,jdbcType=VARCHAR},
      </if>
    </set>
    where fileId = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.FileUpload">
    update fileupload
    set fileName = #{fileName,jdbcType=INTEGER},
      saveName = #{saveName,jdbcType=VARCHAR},
      uploadDate = #{uploadDate,jdbcType=DATE},
      uploadUser = #{uploadUser,jdbcType=VARCHAR}
    where fileId = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>