<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.fileUpload.FileUploadMapper">
  <resultMap id="BaseResultMap" type="com.cs.pojo.FileUpload">
    <id column="fileId" jdbcType="INTEGER" property="fileid" />
    <result column="fileName" jdbcType="INTEGER" property="filename" />
    <result column="saveName" jdbcType="VARCHAR" property="savename" />
    <result column="uploadDate" jdbcType="DATE" property="uploaddate" />
    <result column="uploadUser" jdbcType="VARCHAR" property="uploaduser" />
  </resultMap>
  <sql id="Base_Column_List">
    fileId, fileName, saveName, uploadDate, uploadUser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fileupload
    where fileId = #{fileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fileupload
    where fileId = #{fileid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cs.pojo.FileUpload">
    insert into fileupload (fileId, fileName, saveName, 
      uploadDate, uploadUser)
    values (#{fileid,jdbcType=INTEGER}, #{filename,jdbcType=INTEGER}, #{savename,jdbcType=VARCHAR}, 
      #{uploaddate,jdbcType=DATE}, #{uploaduser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.FileUpload">
    insert into fileupload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        fileId,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="savename != null">
        saveName,
      </if>
      <if test="uploaddate != null">
        uploadDate,
      </if>
      <if test="uploaduser != null">
        uploadUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=INTEGER},
      </if>
      <if test="savename != null">
        #{savename,jdbcType=VARCHAR},
      </if>
      <if test="uploaddate != null">
        #{uploaddate,jdbcType=DATE},
      </if>
      <if test="uploaduser != null">
        #{uploaduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.FileUpload">
    update fileupload
    <set>
      <if test="filename != null">
        fileName = #{filename,jdbcType=INTEGER},
      </if>
      <if test="savename != null">
        saveName = #{savename,jdbcType=VARCHAR},
      </if>
      <if test="uploaddate != null">
        uploadDate = #{uploaddate,jdbcType=DATE},
      </if>
      <if test="uploaduser != null">
        uploadUser = #{uploaduser,jdbcType=VARCHAR},
      </if>
    </set>
    where fileId = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.FileUpload">
    update fileupload
    set fileName = #{filename,jdbcType=INTEGER},
      saveName = #{savename,jdbcType=VARCHAR},
      uploadDate = #{uploaddate,jdbcType=DATE},
      uploadUser = #{uploaduser,jdbcType=VARCHAR}
    where fileId = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>