<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.fileUpload.FileUploadMapper" >

  <resultMap id="BaseResultMap" type="com.cs.pojo.FileUpload" >
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    fileId, fileName, saveName, uploadDate, uploadUserNo
  </sql>
  
  
  <select id="allFile" resultType="Map" parameterType="Map" >
    select f.*,a.adminName from fileupload f,administer a 
    where f.uploadUserNo=a.adminNo and  f.uploadUserNo=#{adminNo} ORDER BY f.uploadDate limit #{page},#{pageSize}
  </select>
  
    <select id="getTotal" resultType="int"  >
  select count(*)  from fileupload f
    where  f.uploadUserNo=#{adminNo}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select *
    from fileupload
    where fileId = #{fileid}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fileupload
    where fileId = #{fileid}
  </delete>
  
  <insert id="insert" parameterType="com.cs.pojo.FileUpload" >
    insert into fileupload ( fileName, saveName, 
      uploadDate, uploadUserNo)
    values ( #{filename,jdbcType=VARCHAR}, #{savename,jdbcType=VARCHAR}, 
      #{uploaddate,jdbcType=DATE}, #{uploaduserno,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.FileUpload" >
    insert into fileupload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        fileId,
      </if>
      <if test="filename != null" >
        fileName,
      </if>
      <if test="savename != null" >
        saveName,
      </if>
      <if test="uploaddate != null" >
        uploadDate,
      </if>
      <if test="uploaduserno != null" >
        uploadUserNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="savename != null" >
        #{savename,jdbcType=VARCHAR},
      </if>
      <if test="uploaddate != null" >
        #{uploaddate,jdbcType=DATE},
      </if>
      <if test="uploaduserno != null" >
        #{uploaduserno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.FileUpload" >
    update fileupload
    <set >
      <if test="filename != null" >
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="savename != null" >
        saveName = #{savename,jdbcType=VARCHAR},
      </if>
      <if test="uploaddate != null" >
        uploadDate = #{uploaddate,jdbcType=DATE},
      </if>
      <if test="uploaduserno != null" >
        uploadUserNo = #{uploaduserno,jdbcType=INTEGER},
      </if>
    </set>
    where fileId = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.FileUpload" >
    update fileupload
    set fileName = #{filename,jdbcType=VARCHAR},
      saveName = #{savename,jdbcType=VARCHAR},
      uploadDate = #{uploaddate,jdbcType=DATE},
      uploadUserNo = #{uploaduserno,jdbcType=INTEGER}
    where fileId = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>