<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.guideteacher.GuideTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.cs.dao.guideteacher.GuideTeacherMapper" >
    <id column="guideTeaId" property="guideteaid" jdbcType="INTEGER" />
    <result column="teacherNo" property="teacherno" jdbcType="INTEGER" />
    <result column="comId" property="comid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    guideTeaId, teacherNo, comId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guideteacher
    where guideTeaId = #{guideteaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guideteacher
    where guideTeaId = #{guideteaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="andy.model.GuideTeacher" >
    insert into guideteacher (guideTeaId, teacherNo, comId
      )
    values (#{guideteaid,jdbcType=INTEGER}, #{teacherno,jdbcType=INTEGER}, #{comid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="andy.model.GuideTeacher" >
    insert into guideteacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guideteaid != null" >
        guideTeaId,
      </if>
      <if test="teacherno != null" >
        teacherNo,
      </if>
      <if test="comid != null" >
        comId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guideteaid != null" >
        #{guideteaid,jdbcType=INTEGER},
      </if>
      <if test="teacherno != null" >
        #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="comid != null" >
        #{comid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.GuideTeacher" >
    update guideteacher
    <set >
      <if test="teacherno != null" >
        teacherNo = #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="comid != null" >
        comId = #{comid,jdbcType=INTEGER},
      </if>
    </set>
    where guideTeaId = #{guideteaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.GuideTeacher" >
    update guideteacher
    set teacherNo = #{teacherno,jdbcType=INTEGER},
      comId = #{comid,jdbcType=INTEGER}
    where guideTeaId = #{guideteaid,jdbcType=INTEGER}
  </update>
</mapper>