<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.material.MaterialMapper">
	<resultMap id="BaseResultMap" type="com.cs.pojo.Material">
		<id column="materialId" jdbcType="INTEGER" property="materialId" />
		<result column="materialName" jdbcType="VARCHAR" property="materialName" />
		<result column="materialPic" jdbcType="VARCHAR" property="materialPic" />
		<association property="student" column="studentNo"
			select="com.cs.dao.student.StudentMapper.selectByStudentNo">
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		materialId, studentNo, materialName, materialPic
	</sql>
	<select id="selectByMaterialId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		*
		from material
		where materialId =
		#{materialId,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		material
		where materialId = #{materialId,jdbcType=INTEGER}
	</delete>

	<select id="selectByStudentNo" parameterType="java.lang.Integer"
		resultMap="StudentBaseResult">
		select
		*
		from material
		where studentNo=
		#{studentNo,jdbcType=INTEGER}
	</select>

	<resultMap type="com.cs.pojo.Student" id="StudentBaseResult">
		<id column="studentNo" property="studentNo" />
		<collection property="materials" ofType="com.cs.pojo.Material">
			<id column="materialId" property="materialId" />
			<result column="materialName" property="materialName" />
			<result column="materialPic" property="materialPic" />
			<association property="student" column="studentNo"
				select="com.cs.dao.student.StudentMapper.selectByStudentNo">
			</association>
			<association property="condition" column="conditionId"
				select="com.cs.dao.condition.ConditionMapper.selectByConditionId"></association>
		</collection>
		<collection property="conditions" ofType="com.cs.pojo.Condition">
			<id column="conditionId" property="conditionId" />
		</collection>
	</resultMap>


	<!-- <insert id="insert" parameterType="com.cs.pojo.Material"> insert into 
		material (materialId, studentNo, materialName, materialPic) values (#{materialId,jdbcType=INTEGER}, 
		#{studentNo,jdbcType=INTEGER}, #{materialName,jdbcType=VARCHAR}, #{materialPic,jdbcType=VARCHAR}) 
		</insert> <insert id="insertSelective" parameterType="com.cs.pojo.Material"> 
		insert into material <trim prefix="(" suffix=")" suffixOverrides=","> <if 
		test="materialId != null"> materialId, </if> <if test="studentNo != null"> 
		studentNo, </if> <if test="materialName != null"> materialName, </if> <if 
		test="materialPic != null"> materialPic, </if> </trim> <trim prefix="values 
		(" suffix=")" suffixOverrides=","> <if test="materialId != null"> #{materialId,jdbcType=INTEGER}, 
		</if> <if test="studentNo != null"> #{studentNo,jdbcType=INTEGER}, </if> 
		<if test="materialName != null"> #{materialName,jdbcType=VARCHAR}, </if> 
		<if test="materialPic != null"> #{materialPic,jdbcType=VARCHAR}, </if> </trim> 
		</insert> <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.Material"> 
		update material <set> <if test="studentNo != null"> studentNo = #{studentNo,jdbcType=INTEGER}, 
		</if> <if test="materialName != null"> materialName = #{materialName,jdbcType=VARCHAR}, 
		</if> <if test="materialPic != null"> materialPic = #{materialPic,jdbcType=VARCHAR}, 
		</if> </set> where materialId = #{materialId,jdbcType=INTEGER} </update> 
		<update id="updateByPrimaryKey" parameterType="com.cs.pojo.Material"> update 
		material set studentNo = #{studentNo,jdbcType=INTEGER}, materialName = #{materialName,jdbcType=VARCHAR}, 
		materialPic = #{materialPic,jdbcType=VARCHAR} where materialId = #{materialId,jdbcType=INTEGER} 
		</update> -->
</mapper>