<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.competition.CompetitionMapper">
	<resultMap id="BaseResultMap" type="com.cs.pojo.Competition">
		<id column="comId" jdbcType="INTEGER" property="comId" />
		<result column="comName" jdbcType="VARCHAR" property="comName" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="date" jdbcType="DATE" property="date" />
		<result column="host" jdbcType="VARCHAR" property="host" />
		<result column="time" jdbcType="DATE" property="time" />
		<result column="place" jdbcType="VARCHAR" property="place" />
		<result column="introduce" jdbcType="VARCHAR" property="introduce" />
		<result column="object" jdbcType="VARCHAR" property="object" />
		<result column="people" jdbcType="INTEGER" property="people" />
		<result column="sponsor" jdbcType="VARCHAR" property="sponsor" />
		<result column="plan" jdbcType="VARCHAR" property="plan" />
		<result column="tgoal" jdbcType="VARCHAR" property="tgoal" />
		<result column="wgoal" jdbcType="VARCHAR" property="wgoal" />
		<result column="sopinion" jdbcType="VARCHAR" property="sopinion" />
		<result column="slsign" jdbcType="VARCHAR" property="slsign" />
		<result column="slsdate" jdbcType="DATE" property="slsdate" />
		<result column="uopinion" jdbcType="VARCHAR" property="uopinion" />
		<result column="dsign" jdbcType="VARCHAR" property="dsign" />
		<result column="dsdate" jdbcType="DATE" property="dsdate" />
		<result column="tdopinion" jdbcType="VARCHAR" property="tdopinion" />
		<result column="olsign" jdbcType="VARCHAR" property="olsign" />
		<result column="olsdate" jdbcType="DATE" property="olsdate" />
		<result column="lsign" jdbcType="VARCHAR" property="lsign" />
		<result column="lsdate" jdbcType="DATE" property="lsdate" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<association property="teacher" column="teacherNo"
			select="com.cs.dao.teacher.TeacherMapper.selectByTeacherNo">

		</association>
		<association property="level" column="levelId"
			select="com.cs.dao.level.LevelMapper.selectByLevelId">

		</association>
		<association property="department" column="departmentId"
			select="com.cs.dao.department.DepartmentMapper.selectByDepartId">

		</association>
	</resultMap>

	<sql id="Base_Column_List">
		<!-- c.comId, c.comName, c.teacherNo, c.unit, c.levelId, c.phone, c.email, c.departmentId, c.date,
		c.host,
		c.time, c.place, c.introduce, c.object, c.people, c.sponsor, c.plan, c.tgoal, c.wgoal,
		c.sopinion, c.slsign,
		c.slsdate, c.uopinion, c.dsign, c.dsdate, c.tdopinion, c.olsign, c.olsdate, c.lsign, c.lsdate,
		c.status -->
	</sql>
	<!--根据ID查找 -->
	<select id="selectByComId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		*
		from competition
		where comId = #{comId,jdbcType=INTEGER}
	</select>

	
	<!--根据ID删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from competition
		where comId = #{comId,jdbcType=INTEGER}
	</delete>
	
	<!-- 系部审批： 修改申报表状态，申报意见，签字 -->
	<update id="updateByDepart" parameterType="com.cs.pojo.Competition"> 
       update competition set uopinion=#{uopinion,jdbcType=VARCHAR}, 
            dsign=#{dsign,jdbcType=VARCHAR}, dsdate=#{dsdate,jdbcType=DATE},status=#{status,jdbcType=INTEGER}
    </update> 

    <!-- 教学处审批： 修改申报表状态，申报意见，签字 -->
	<update id="updateByTeach" parameterType="com.cs.pojo.Competition"> 
       update competition set tdopinion=#{tdopinion,jdbcType=VARCHAR}, 
            olsign=#{olsign,jdbcType=VARCHAR}, olsdate=#{olsdate,jdbcType=DATE},status=#{status,jdbcType=INTEGER}
    </update> 

	<!--全部插入 -->
	<!-- <insert id="insert" parameterType="com.cs.pojo.Competition"> insert 
		into competition (comId, comName, teacherNo, unit, levelId, phone, email, 
		departmentId, date, host, time, place, introduce, object, people, sponsor, 
		plan, tgoal, wgoal, sopinion, slsign, slsdate, uopinion, dsign, dsdate, tdopinion, 
		olsign, olsdate, lsign, lsdate, status) values (#{comId,jdbcType=INTEGER}, 
		#{comName,jdbcType=VARCHAR}, #{teacherNo,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, 
		#{levelId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
		#{departmentId,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{host,jdbcType=VARCHAR}, 
		#{time,jdbcType=DATE}, #{place,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
		#{object,jdbcType=VARCHAR}, #{people,jdbcType=INTEGER}, #{sponsor,jdbcType=VARCHAR}, 
		#{plan,jdbcType=VARCHAR}, #{tgoal,jdbcType=VARCHAR}, #{wgoal,jdbcType=VARCHAR}, 
		#{sopinion,jdbcType=VARCHAR}, #{slsign,jdbcType=VARCHAR}, #{slsdate,jdbcType=DATE}, 
		#{uopinion,jdbcType=VARCHAR}, #{dsign,jdbcType=VARCHAR}, #{dsdate,jdbcType=DATE}, 
		#{tdopinion,jdbcType=VARCHAR}, #{olsign,jdbcType=VARCHAR}, #{olsdate,jdbcType=DATE}, 
		#{lsign,jdbcType=VARCHAR}, #{lsdate,jdbcType=DATE}, #{status,jdbcType=INTEGER}) 
		</insert> -->

	<!--动态插入数据 -->
	<!-- <insert id="insertSelective" parameterType="com.cs.pojo.Competition"> 
		insert into competition <trim prefix="(" suffix=")" suffixOverrides=","> 
		<if test="comId != null"> comId, </if> <if test="comName != null"> comName, 
		</if> <if test="teacherNo != null"> teacherNo, </if> <if test="unit != null"> 
		unit, </if> <if test="levelId != null"> levelId, </if> <if test="phone != 
		null"> phone, </if> <if test="email != null"> email, </if> <if test="departmentId 
		!= null"> departmentId, </if> <if test="date != null"> date, </if> <if test="host 
		!= null"> host, </if> <if test="time != null"> time, </if> <if test="place 
		!= null"> place, </if> <if test="introduce != null"> introduce, </if> <if 
		test="object != null"> object, </if> <if test="people != null"> people, </if> 
		<if test="sponsor != null"> sponsor, </if> <if test="plan != null"> plan, 
		</if> <if test="tgoal != null"> tgoal, </if> <if test="wgoal != null"> wgoal, 
		</if> <if test="sopinion != null"> sopinion, </if> <if test="slsign != null"> 
		slsign, </if> <if test="slsdate != null"> slsdate, </if> <if test="uopinion 
		!= null"> uopinion, </if> <if test="dsign != null"> dsign, </if> <if test="dsdate 
		!= null"> dsdate, </if> <if test="tdopinion != null"> tdopinion, </if> <if 
		test="olsign != null"> olsign, </if> <if test="olsdate != null"> olsdate, 
		</if> <if test="lsign != null"> lsign, </if> <if test="lsdate != null"> lsdate, 
		</if> <if test="status != null"> status, </if> </trim> <trim prefix="values 
		(" suffix=")" suffixOverrides=","> <if test="comId != null"> #{comId,jdbcType=INTEGER}, 
		</if> <if test="comName != null"> #{comName,jdbcType=VARCHAR}, </if> <if 
		test="teacherNo != null"> #{teacherNo,jdbcType=INTEGER}, </if> <if test="unit 
		!= null"> #{unit,jdbcType=VARCHAR}, </if> <if test="levelId != null"> #{levelId,jdbcType=INTEGER}, 
		</if> <if test="phone != null"> #{phone,jdbcType=VARCHAR}, </if> <if test="email 
		!= null"> #{email,jdbcType=VARCHAR}, </if> <if test="departmentId != null"> 
		#{departmentId,jdbcType=INTEGER}, </if> <if test="date != null"> #{date,jdbcType=DATE}, 
		</if> <if test="host != null"> #{host,jdbcType=VARCHAR}, </if> <if test="time 
		!= null"> #{time,jdbcType=DATE}, </if> <if test="place != null"> #{place,jdbcType=VARCHAR}, 
		</if> <if test="introduce != null"> #{introduce,jdbcType=VARCHAR}, </if> 
		<if test="object != null"> #{object,jdbcType=VARCHAR}, </if> <if test="people 
		!= null"> #{people,jdbcType=INTEGER}, </if> <if test="sponsor != null"> #{sponsor,jdbcType=VARCHAR}, 
		</if> <if test="plan != null"> #{plan,jdbcType=VARCHAR}, </if> <if test="tgoal 
		!= null"> #{tgoal,jdbcType=VARCHAR}, </if> <if test="wgoal != null"> #{wgoal,jdbcType=VARCHAR}, 
		</if> <if test="sopinion != null"> #{sopinion,jdbcType=VARCHAR}, </if> <if 
		test="slsign != null"> #{slsign,jdbcType=VARCHAR}, </if> <if test="slsdate 
		!= null"> #{slsdate,jdbcType=DATE}, </if> <if test="uopinion != null"> #{uopinion,jdbcType=VARCHAR}, 
		</if> <if test="dsign != null"> #{dsign,jdbcType=VARCHAR}, </if> <if test="dsdate 
		!= null"> #{dsdate,jdbcType=DATE}, </if> <if test="tdopinion != null"> #{tdopinion,jdbcType=VARCHAR}, 
		</if> <if test="olsign != null"> #{olsign,jdbcType=VARCHAR}, </if> <if test="olsdate 
		!= null"> #{olsdate,jdbcType=DATE}, </if> <if test="lsign != null"> #{lsign,jdbcType=VARCHAR}, 
		</if> <if test="lsdate != null"> #{lsdate,jdbcType=DATE}, </if> <if test="status 
		!= null"> #{status,jdbcType=INTEGER}, </if> </trim> </insert> -->
	<!-- 动态更新数据 -->
	<!-- <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.Competition"> 
		update competition <set> <if test="comName != null"> comName = #{comName,jdbcType=VARCHAR}, 
		</if> <if test="teacherNo != null"> teacherNo = #{teacherNo,jdbcType=INTEGER}, 
		</if> <if test="unit != null"> unit = #{unit,jdbcType=VARCHAR}, </if> <if 
		test="levelId != null"> levelId = #{levelId,jdbcType=INTEGER}, </if> <if 
		test="phone != null"> phone = #{phone,jdbcType=VARCHAR}, </if> <if test="email 
		!= null"> email = #{email,jdbcType=VARCHAR}, </if> <if test="departmentId 
		!= null"> departmentId = #{departmentId,jdbcType=INTEGER}, </if> <if test="date 
		!= null"> date = #{date,jdbcType=DATE}, </if> <if test="host != null"> host 
		= #{host,jdbcType=VARCHAR}, </if> <if test="time != null"> time = #{time,jdbcType=DATE}, 
		</if> <if test="place != null"> place = #{place,jdbcType=VARCHAR}, </if> 
		<if test="introduce != null"> introduce = #{introduce,jdbcType=VARCHAR}, 
		</if> <if test="object != null"> object = #{object,jdbcType=VARCHAR}, </if> 
		<if test="people != null"> people = #{people,jdbcType=INTEGER}, </if> <if 
		test="sponsor != null"> sponsor = #{sponsor,jdbcType=VARCHAR}, </if> <if 
		test="plan != null"> plan = #{plan,jdbcType=VARCHAR}, </if> <if test="tgoal 
		!= null"> tgoal = #{tgoal,jdbcType=VARCHAR}, </if> <if test="wgoal != null"> 
		wgoal = #{wgoal,jdbcType=VARCHAR}, </if> <if test="sopinion != null"> sopinion 
		= #{sopinion,jdbcType=VARCHAR}, </if> <if test="slsign != null"> slsign = 
		#{slsign,jdbcType=VARCHAR}, </if> <if test="slsdate != null"> slsdate = #{slsdate,jdbcType=DATE}, 
		</if> <if test="uopinion != null"> uopinion = #{uopinion,jdbcType=VARCHAR}, 
		</if> <if test="dsign != null"> dsign = #{dsign,jdbcType=VARCHAR}, </if> 
		<if test="dsdate != null"> dsdate = #{dsdate,jdbcType=DATE}, </if> <if test="tdopinion 
		!= null"> tdopinion = #{tdopinion,jdbcType=VARCHAR}, </if> <if test="olsign 
		!= null"> olsign = #{olsign,jdbcType=VARCHAR}, </if> <if test="olsdate != 
		null"> olsdate = #{olsdate,jdbcType=DATE}, </if> <if test="lsign != null"> 
		lsign = #{lsign,jdbcType=VARCHAR}, </if> <if test="lsdate != null"> lsdate 
		= #{lsdate,jdbcType=DATE}, </if> <if test="status != null"> status = #{status,jdbcType=INTEGER}, 
		</if> </set> where comId = #{comId,jdbcType=INTEGER} </update> -->

</mapper>