<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.competition.CompetitionMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.Competition" >
    <id column="comId" property="comid" jdbcType="INTEGER" />
    <result column="comName" property="comname" jdbcType="VARCHAR" />
    <result column="teacherNo" property="teacherno" jdbcType="INTEGER" />
     <result column="leaderNo" property="leaderNo" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="levelName" property="levelname" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="object" property="object" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="INTEGER" />
    <result column="sponsor" property="sponsor" jdbcType="VARCHAR" />
    <result column="plan" property="plan" jdbcType="VARCHAR" />
    <result column="tgoal" property="tgoal" jdbcType="VARCHAR" />
    <result column="wgoal" property="wgoal" jdbcType="VARCHAR" />
    <result column="sopinion" property="sopinion" jdbcType="VARCHAR" />
    <result column="slsign" property="slsign" jdbcType="VARCHAR" />
    <result column="slsdate" property="slsdate" jdbcType="DATE" />
    <result column="uopinion" property="uopinion" jdbcType="VARCHAR" />
    <result column="dsign" property="dsign" jdbcType="VARCHAR" />
    <result column="dsdate" property="dsdate" jdbcType="DATE" />
    <result column="tdopinion" property="tdopinion" jdbcType="VARCHAR" />
    <result column="olsign" property="olsign" jdbcType="VARCHAR" />
    <result column="olsdate" property="olsdate" jdbcType="TIMESTAMP" />
    <result column="lsign" property="lsign" jdbcType="VARCHAR" />
    <result column="lsdate" property="lsdate" jdbcType="DATE" />
    <result column="depSpStatus" property="depspstatus" jdbcType="INTEGER" />
    <result column="teaSpStatus" property="teaspstatus" jdbcType="INTEGER" />
    <result column="saveStatus" property="saveStatus" jdbcType="INTEGER" />
    <result column="applyBeginDate" property="applybegindate" jdbcType="DATE" />
    <result column="applyEndDate" property="applyenddate" jdbcType="DATE" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="compStatus" property="compstatus" jdbcType="INTEGER" />
    <result column="isPublish" property="ispublish" jdbcType="INTEGER" />
    <result column="isNeedGroup" property="isneedgroup" jdbcType="INTEGER" />
    <result column="groupNum" property="groupnum" jdbcType="INTEGER" />
    <result column="awardPub" property="awardPub" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    comId, comName, teacherNo,leaderNo, unit, levelName, department, date, host, time, place, 
    introduce, object, people, sponsor, plan, tgoal, wgoal, sopinion, slsign, slsdate, 
    uopinion, dsign, dsdate, tdopinion, olsign, olsdate, lsign, lsdate, depSpStatus, 
    teaSpStatus, saveStatus, applyBeginDate, applyEndDate, cost, compStatus, isPublish,
    isNeedGroup,groupNum,awardPub
  </sql>
  <!-- 根据状态查找申报表，比如，查找所有审批通过的申报表 -->
   <select id="selectBySpStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from competition
    where depSpStatus = #{depspstatus,jdbcType=INTEGER} and
     teaSpStatus = #{teaspstatus,jdbcType=INTEGER}  and
     (teacherNo=#{teacherno,jdbcType=INTEGER} or leaderNo=#{teacherno,jdbcType=INTEGER})
  </select>
  
  <!-- 查看以及比赛结束的竞赛-->
   <select id="selectEndComp" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    SELECT * from competition where NOW()  > time
    and (teacherNo= #{teacherNo,jdbcType=INTEGER} or leaderNo= #{teacherNo,jdbcType=INTEGER})
    and teaSpStatus=1 and depSpStatus=1
  </select>
  
  <!-- 查看正在进行的竞赛-->
   <select id="selectNowComp" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    SELECT * from competition where NOW()  = time
    and (teacherNo= #{teacherNo,jdbcType=INTEGER} or leaderNo= #{teacherNo,jdbcType=INTEGER})
    and teaSpStatus=1 and depSpStatus=1
  </select>
  
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.cs.pojo.Competition" >
    select 
    *
    from competition
    where comId = #{comid,jdbcType=INTEGER}
  </select>
  <select id="selectByTeacherno" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select 
    *
    from competition
    where teacherno = #{teacherno,jdbcType=INTEGER} and saveStatus=1
  </select>
  <!-- 查找该教师没有提交审批的申报表 -->
  <select id="selectNoSubmitByTeacherNo" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select 
    *
    from competition
    where teacherno = #{teacherno,jdbcType=INTEGER} and saveStatus=0
  </select>
  
   <select id="selectByLeaderNo" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select 
    *
    from competition
    where leaderNo = #{leaderNo,jdbcType=INTEGER} and saveStatus=1
  </select>
  <!-- 查询该教师申报或者负责的竞赛 -->
  <select id="selectByLeaderNoOrTeacher" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select  * from competition where (teacherno=#{teacherno,jdbcType=INTEGER} 
    or leaderno=#{teacherno,jdbcType=INTEGER}) and saveStatus=1
  </select>
  
  <select id="selectScheCompByTeacherNo" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select  c.* from competition c
	LEFT JOIN schedule s
	on c.comId=s.comId
	where s.teacherNo=#{teacherno,jdbcType=INTEGER} and saveStatus=1
  </select>
  
  <select id="selectApplyCompByteacherNo" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    SELECT * from competition where NOW()>=applyBeginDate and NOW() &lt;= applyEndDate  and (teacherNo=#{teacherno,jdbcType=INTEGER} or leaderNo=#{teacherno,jdbcType=INTEGER})
    and depSpStatus=1 and teaSpStatus=1
  </select>
  
  <select id="selectGuideCompByTeacherNo" resultType="com.cs.pojo.Competition" parameterType="java.lang.Integer" >
    select  c.* from competition c
	LEFT JOIN guideteacher g
	on c.comId=g.comId
	where g.teacherNo=#{teacherno,jdbcType=INTEGER} and saveStatus=1
  </select>
  
  <select id="selectAllComp" resultType="com.cs.pojo.Competition">
    select 
    *
    from competition where saveStatus=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from competition
    where comId = #{comid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="comid" parameterType="com.cs.pojo.Competition" >
    insert into competition (comId, comName, teacherNo, leaderNo,
      unit, levelName, department, 
      date, host, time, place, 
      introduce, object, people, 
      sponsor, plan, tgoal, 
      wgoal, sopinion, slsign, 
      slsdate, uopinion, dsign, 
      dsdate, tdopinion, olsign, 
      olsdate, lsign, lsdate, 
      depSpStatus, teaSpStatus, saveStatus, 
      applyBeginDate, applyEndDate, cost, 
      compStatus, isPublish,isNeedGroup,groupNum,awardPub)
    values (#{comid,jdbcType=INTEGER}, #{comname,jdbcType=VARCHAR}, #{teacherno,jdbcType=INTEGER},#{leaderNo,jdbcType=INTEGER}, 
      #{unit,jdbcType=VARCHAR}, #{levelname,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{host,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{place,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR}, #{people,jdbcType=INTEGER}, 
      #{sponsor,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}, #{tgoal,jdbcType=VARCHAR}, 
      #{wgoal,jdbcType=VARCHAR}, #{sopinion,jdbcType=VARCHAR}, #{slsign,jdbcType=VARCHAR}, 
      #{slsdate,jdbcType=DATE}, #{uopinion,jdbcType=VARCHAR}, #{dsign,jdbcType=VARCHAR}, 
      #{dsdate,jdbcType=DATE}, #{tdopinion,jdbcType=VARCHAR}, #{olsign,jdbcType=VARCHAR}, 
      #{olsdate,jdbcType=TIMESTAMP}, #{lsign,jdbcType=VARCHAR}, #{lsdate,jdbcType=DATE}, 
      #{depspstatus,jdbcType=INTEGER}, #{teaspstatus,jdbcType=INTEGER}, #{saveStatus,jdbcType=INTEGER}, 
      #{applybegindate,jdbcType=DATE}, #{applyenddate,jdbcType=DATE}, #{cost,jdbcType=DECIMAL}, 
      #{compstatus,jdbcType=INTEGER}, #{ispublish,jdbcType=INTEGER}, #{isneedgroup,jdbcType=INTEGER}, #{groupnum,jdbcType=INTEGER},#{awardPub,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="comid" parameterType="com.cs.pojo.Competition" >
    insert into competition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comid != null" >
        comId,
      </if>
      <if test="comname != null" >
        comName,
      </if>
      <if test="teacherno != null" >
        teacherNo,
      </if>
      <if test="leaderNo != null" >
        leaderNo,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="levelname != null" >
        levelName,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="object != null" >
        object,
      </if>
      <if test="people != null" >
        people,
      </if>
      <if test="sponsor != null" >
        sponsor,
      </if>
      <if test="plan != null" >
        plan,
      </if>
      <if test="tgoal != null" >
        tgoal,
      </if>
      <if test="wgoal != null" >
        wgoal,
      </if>
      <if test="sopinion != null" >
        sopinion,
      </if>
      <if test="slsign != null" >
        slsign,
      </if>
      <if test="slsdate != null" >
        slsdate,
      </if>
      <if test="uopinion != null" >
        uopinion,
      </if>
      <if test="dsign != null" >
        dsign,
      </if>
      <if test="dsdate != null" >
        dsdate,
      </if>
      <if test="tdopinion != null" >
        tdopinion,
      </if>
      <if test="olsign != null" >
        olsign,
      </if>
      <if test="olsdate != null" >
        olsdate,
      </if>
      <if test="lsign != null" >
        lsign,
      </if>
      <if test="lsdate != null" >
        lsdate,
      </if>
      <if test="depspstatus != null" >
        depSpStatus,
      </if>
      <if test="teaspstatus != null" >
        teaSpStatus,
      </if>
      <if test="saveStatus != null" >
        saveStatus,
      </if>
      <if test="applybegindate != null" >
        applyBeginDate,
      </if>
      <if test="applyenddate != null" >
        applyEndDate,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="compstatus != null" >
        compStatus,
      </if>
      <if test="ispublish != null" >
        isPublish,
      </if>
      <if test="isneedgroup != null" >
        isNeedGroup,
      </if>
      <if test="groupnum != null" >
        groupNum,
      </if>
      <if test="awardPub != null" >
        awardPub,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comid != null" >
        #{comid,jdbcType=INTEGER},
      </if>
      <if test="comname != null" >
        #{comname,jdbcType=VARCHAR},
      </if>
      <if test="teacherno != null" >
        #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="leaderNo != null" >
        #{leaderNo,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="levelname != null" >
        #{levelname,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="object != null" >
        #{object,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        #{people,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        #{plan,jdbcType=VARCHAR},
      </if>
      <if test="tgoal != null" >
        #{tgoal,jdbcType=VARCHAR},
      </if>
      <if test="wgoal != null" >
        #{wgoal,jdbcType=VARCHAR},
      </if>
      <if test="sopinion != null" >
        #{sopinion,jdbcType=VARCHAR},
      </if>
      <if test="slsign != null" >
        #{slsign,jdbcType=VARCHAR},
      </if>
      <if test="slsdate != null" >
        #{slsdate,jdbcType=DATE},
      </if>
      <if test="uopinion != null" >
        #{uopinion,jdbcType=VARCHAR},
      </if>
      <if test="dsign != null" >
        #{dsign,jdbcType=VARCHAR},
      </if>
      <if test="dsdate != null" >
        #{dsdate,jdbcType=DATE},
      </if>
      <if test="tdopinion != null" >
        #{tdopinion,jdbcType=VARCHAR},
      </if>
      <if test="olsign != null" >
        #{olsign,jdbcType=VARCHAR},
      </if>
      <if test="olsdate != null" >
        #{olsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lsign != null" >
        #{lsign,jdbcType=VARCHAR},
      </if>
      <if test="lsdate != null" >
        #{lsdate,jdbcType=DATE},
      </if>
      <if test="depspstatus != null" >
        #{depspstatus,jdbcType=INTEGER},
      </if>
      <if test="teaspstatus != null" >
        #{teaspstatus,jdbcType=INTEGER},
      </if>
      <if test="saveStatus != null" >
        #{saveStatus,jdbcType=INTEGER},
      </if>
      <if test="applybegindate != null" >
        #{applybegindate,jdbcType=DATE},
      </if>
      <if test="applyenddate != null" >
        #{applyenddate,jdbcType=DATE},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="compstatus != null" >
        #{compstatus,jdbcType=INTEGER},
      </if>
      <if test="ispublish != null" >
        #{ispublish,jdbcType=INTEGER},
      </if>
      <if test="isneedgroup != null" >
        #{isneedgroup,jdbcType=INTEGER},
      </if>
      <if test="groupnum != null" >
        #{groupnum,jdbcType=INTEGER},
      </if>
      <if test="awardPub != null" >
        #{awardPub,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.Competition" >
    update competition
    <set >
      <if test="comname != null" >
        comName = #{comname,jdbcType=VARCHAR},
      </if>
      <if test="teacherno != null" >
        teacherNo = #{teacherno,jdbcType=INTEGER},
      </if>
      <if test="leaderNo != null" >
        leaderNo = #{leaderNo,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="levelname != null" >
        levelName = #{levelname,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="object != null" >
        object = #{object,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        people = #{people,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        sponsor = #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        plan = #{plan,jdbcType=VARCHAR},
      </if>
      <if test="tgoal != null" >
        tgoal = #{tgoal,jdbcType=VARCHAR},
      </if>
      <if test="wgoal != null" >
        wgoal = #{wgoal,jdbcType=VARCHAR},
      </if>
      <if test="sopinion != null" >
        sopinion = #{sopinion,jdbcType=VARCHAR},
      </if>
      <if test="slsign != null" >
        slsign = #{slsign,jdbcType=VARCHAR},
      </if>
      <if test="slsdate != null" >
        slsdate = #{slsdate,jdbcType=DATE},
      </if>
      <if test="uopinion != null" >
        uopinion = #{uopinion,jdbcType=VARCHAR},
      </if>
      <if test="dsign != null" >
        dsign = #{dsign,jdbcType=VARCHAR},
      </if>
      <if test="dsdate != null" >
        dsdate = #{dsdate,jdbcType=DATE},
      </if>
      <if test="tdopinion != null" >
        tdopinion = #{tdopinion,jdbcType=VARCHAR},
      </if>
      <if test="olsign != null" >
        olsign = #{olsign,jdbcType=VARCHAR},
      </if>
      <if test="olsdate != null" >
        olsdate = #{olsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lsign != null" >
        lsign = #{lsign,jdbcType=VARCHAR},
      </if>
      <if test="lsdate != null" >
        lsdate = #{lsdate,jdbcType=DATE},
      </if>
      <if test="depspstatus != null" >
        depSpStatus = #{depspstatus,jdbcType=INTEGER},
      </if>
      <if test="teaspstatus != null" >
        teaSpStatus = #{teaspstatus,jdbcType=INTEGER},
      </if>
      <if test="saveStatus != null" >
        saveStatus = #{saveStatus,jdbcType=INTEGER},
      </if>
      <if test="applybegindate != null" >
        applyBeginDate = #{applybegindate,jdbcType=DATE},
      </if>
      <if test="applyenddate != null" >
        applyEndDate = #{applyenddate,jdbcType=DATE},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="compstatus != null" >
        compStatus = #{compstatus,jdbcType=INTEGER},
      </if>
      <if test="ispublish != null" >
        isPublish = #{ispublish,jdbcType=INTEGER},
      </if>
      <if test="isneedgroup != null" >
        isNeedGroup = #{isneedgroup,jdbcType=INTEGER},
      </if>
      <if test="groupnum != null" >
        groupNum = #{groupnum,jdbcType=INTEGER},
      </if>
      <if test="awardPub != null" >
        awardPub = #{awardPub,jdbcType=INTEGER},
      </if>
    </set>
    where comId = #{comid,jdbcType=INTEGER}
  </update>
  
   <select id="examDeptComp" resultType="com.cs.pojo.Competition"  parameterType="int">
  		select c.* from competition c
		left join teacher t
		on c.department=t.department
		where t.teacherNo=#{teacherNo} and depSpStatus=0
	</select>
   <select id="examTeaComp" resultType="com.cs.pojo.Competition"  parameterType="int" >
  		select * from competition 
        where depSpStatus=1 and teaSpStatus=0
	</select>
  
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.Competition" >
    update competition
    set comName = #{comname,jdbcType=VARCHAR},
      teacherNo = #{teacherno,jdbcType=INTEGER},
      leaderNo = #{leaderNo,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      levelName = #{levelname,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      host = #{host,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      place = #{place,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      object = #{object,jdbcType=VARCHAR},
      people = #{people,jdbcType=INTEGER},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR},
      tgoal = #{tgoal,jdbcType=VARCHAR},
      wgoal = #{wgoal,jdbcType=VARCHAR},
      sopinion = #{sopinion,jdbcType=VARCHAR},
      slsign = #{slsign,jdbcType=VARCHAR},
      slsdate = #{slsdate,jdbcType=DATE},
      uopinion = #{uopinion,jdbcType=VARCHAR},
      dsign = #{dsign,jdbcType=VARCHAR},
      dsdate = #{dsdate,jdbcType=DATE},
      tdopinion = #{tdopinion,jdbcType=VARCHAR},
      olsign = #{olsign,jdbcType=VARCHAR},
      olsdate = #{olsdate,jdbcType=TIMESTAMP},
      lsign = #{lsign,jdbcType=VARCHAR},
      lsdate = #{lsdate,jdbcType=DATE},
      depSpStatus = #{depspstatus,jdbcType=INTEGER},
      teaSpStatus = #{teaspstatus,jdbcType=INTEGER},
      saveStatus = #{saveStatus,jdbcType=INTEGER},
      applyBeginDate = #{applybegindate,jdbcType=DATE},
      applyEndDate = #{applyenddate,jdbcType=DATE},
      cost = #{cost,jdbcType=DECIMAL},
      compStatus = #{compstatus,jdbcType=INTEGER},
      isPublish = #{ispublish,jdbcType=INTEGER},
      isNeedGroup = #{isneedgroup,jdbcType=INTEGER},
      groupNum = #{groupnum,jdbcType=INTEGER},
      awardPub = #{awardPub,jdbcType=INTEGER}
    where comId = #{comid,jdbcType=INTEGER}
  </update>
  <!-- 系主任审批 -->
  <update id="updateByDeptAdmin" parameterType="com.cs.pojo.Competition" >
    update competition
    set 
      uopinion = #{uopinion,jdbcType=VARCHAR},
      dsign = #{dsign,jdbcType=VARCHAR},
      dsdate = #{dsdate,jdbcType=DATE},
      depSpStatus = #{depspstatus,jdbcType=INTEGER}
    where comId = #{comid,jdbcType=INTEGER}
  </update>
  <!-- 教学处审批 -->
  <update id="updateByTea" parameterType="com.cs.pojo.Competition" >
    update competition
    set 
      tdopinion = #{tdopinion,jdbcType=VARCHAR},
      olsign = #{olsign,jdbcType=VARCHAR},
      olsdate = #{olsdate,jdbcType=DATE},
      teaSpStatus = #{teaspstatus,jdbcType=INTEGER}
    where comId = #{comid,jdbcType=INTEGER}
  </update>

  <!--Max  -->
  <select id="selectByAdmin" resultType="Map" parameterType="Map" >
     select com.*,t.teacherName,t.gender,t.department,t.phone,t.email  from competition com,teacher t
    where com.teacherNo=t.teacherNo and com.department=#{department}
		and com.applyEndDate>=now() and com.depSpStatus=1 and com.teaSpStatus=1 
		<if test=" levelName != '' ">
			and com.levelName=#{levelName}
		</if>
		 <if test=' time=="1" '>
		and YEARWEEK(date_format(com.lsdate,'%Y-%m-%d')) = YEARWEEK(now())-1
		</if>
		<if test =' time == "2" '>
		and YEARWEEK(date_format(com.lsdate,'%Y-%m-%d')) = YEARWEEK(now()) 
		</if>
		<if test=' time=="3" '>
		  and  date_format(com.lsdate,'%Y-%m')=date_format(now(),'%Y-%m')  
		</if>
		
	 ORDER BY com.lsdate desc limit #{page},#{pageSize}
  </select>
  
   <select id="unPubCom" resultType="Map" parameterType="String"  >
  select c.comId as id ,c.comName as name from competition  c 
  where  c.department=#{department} and c.depSpStatus=1 and c.teaSpStatus=1 and (c.isPublish =0 or c.isPublish is null)
	 ORDER BY c.lsdate desc 
  </select>
  
   <select id="getTotal" resultType="int" parameterType="Map" >
  	select COUNT(*) from competition com  where   com.department=#{department}
		and com.applyEndDate>=now() and com.depSpStatus=1 and com.teaSpStatus=1 
	</select>
	<update id="updatePubState" parameterType="Map">
		update competition set isPublish=#{isPub} where comId = #{rID}
	</update>
	
	
	<!-- 今天 -->
	 <select id="beforeToday" resultType="com.cs.pojo.Competition" >
		SELECT c.time,c.* from competition c where c.teaSpStatus=1 and c.depSpStatus=1
		and c.time  &lt;= CURDATE()  ORDER BY c.time desc limit 0,3
	</select>
	<!-- 昨天 -->
	 <select id="afterToday" resultType="com.cs.pojo.Competition" >
  		SELECT c.time,c.* from competition c where c.teaSpStatus=1 and c.depSpStatus=1
		and c.time > CURDATE()  ORDER BY c.time  limit 0,2;
	</select>

	
	 <select id="analysisCom" resultType="Map" parameterType="Map">
  		select  #{department} as department,DATE_FORMAT(c.time,'%Y') as year,COUNT(*) as compCount 
		from competition c  
		where c.department=#{department} and c.depSpStatus=1 and c.teaSpStatus=1
		<if test="single != null ">
 			GROUP BY   DATE_FORMAT(c.time,'%Y')
 		</if>
	</select>
	
</mapper>
